node_modules
dist
dist-ssr
*.local
.DS_Store
.vercel

.vercel

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/.auth/

/src/generated/prisma
.env
/production-stable
/WrapOS-pwa/
.env*
